img {
    box-shadow: 5px 5px 5px red;
}

span {
    text-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px yellow;
}

img, span {
    display: inline-block;
    overflow: hidden;
    margin: 20px;
}
