book {
display: table;
border: solid 1px black;
border-spacing: 10px;
margin: 20px;
width: 400px;
padding-right: 50px;
}

publication_data {
display: none;
}

title, author{
display: table-row;
background-color: lightgoldenrodyellow;
padding: 10px;
}


