html {
    margin: 0rem;
    padding: 0rem;
    font-size: 100%;
}
body {
    margin: 0rem;
    padding: 0rem;
    background-color: RGB(21, 27, 25);
    background-color: HSL(160, 13%, 9.5%); /*theme colour*/
    font-family: "Courier New", courier, monospace;
    color: RGB(200, 200, 200);
}
h1 {
    margin: 1rem 3.5%; 
    font-size: 2rem;
    font-weight: normal;
    color: RGB(240, 240, 240);
    text-align: left;
}
h2 {
    margin: 3rem 0% 1.5rem;
    padding: 0rem;
    padding-left: 10%;
    font-size: 1.5rem;
    font-weight: normal;
    color: RGB(200, 200, 200);
    text-align: left;
    background-color: HSL(160, 13%, 7%);
}
h3 {
    margin: 0rem 0% 1rem;
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: RGB(240, 255, 255); 
    text-shadow: 0rem 0rem 0.66rem RGB(125, 255, 255), 0rem 0rem 2.66rem RGB(255, 255, 255); /*cyan neon effect*/
}
hr {
    margin: 0rem;
    border: 0.066rem solid RGB(240, 240, 240); /*white is too bright; h1/hr consonance*/
}
header {
    padding-top: 1px; /*if not set, blank space between header and top side of the display window. Reason: ¿?*/
    background-color: HSL(160, 13%, 14.5%); /*5% lighter than body*/
}
nav {
    margin: 0rem;
    padding: 0rem;
    text-align: center; 
}
nav ul {
    display: block;
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}
nav li {
    display: inline;
    margin: 0rem;
    padding: 0rem;
}
nav a, nav a:link, nav a:visited {
    display: inline-block; 
    margin: 0rem 0.5% 1rem;
    padding: 0.33rem 0.66rem 0.33rem; 
    width: 9rem;
    max-width: 40%;
    font-size: 1rem;
    color: RGB(200, 200, 200);
    text-align: center;
    text-decoration: none;
    border-radius: 0rem 0rem 1rem 1rem; 
    overflow: hidden; /*explained later on section#hexagon's buttons*/
    vertical-align: top;
    background-color: HSL(160, 13%, 11%);
    box-shadow: 0rem 0.13rem 0.066rem RGB(225, 255, 255); 
}
nav a:hover {
    color: RGB(255, 255, 255);
    background-color: HSL(160, 13%, 12%);
    box-shadow: 0rem 0.13rem 0.066rem RGB(225, 255, 255);
    text-shadow: 0rem 0rem 0.66rem RGB(125, 255, 255), 0rem 0rem 2.66rem RGB(255, 255, 255);
}
nav a:active {
    margin: 0rem 0.5% 0.66rem; /*a:link {margin: 0rem 0.5% 1rem;}*/
    padding: 0.66rem 0.66rem 0.33rem; /*a:link {padding: 0.33rem 0.66rem 0.33rem;}*/
    box-shadow: 0rem 0.2rem 0.066rem RGB(225, 255, 255);
    text-shadow: 0rem 0rem 0.66rem RGB(125, 255, 255), 0rem 0rem 2.66rem RGB(255, 255, 255);
}
section#main_menu {
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}
#main_menu img.main {
    margin: 2rem 1% 3rem; 
    padding: 0rem;
    width: 35%; /*35(img.main)+1*2(img.main{left and right margin})+31.5*2(entertainment and workspace _menu{width}) == 100%*/
    vertical-align: middle; 
}
#main_menu ul {
    display: block;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
}
#main_menu #utilities_menu {
    display: block;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}
#utilities_menu li {
    display: inline;
}
#main_menu #entertainment_menu, #main_menu #workspace_menu {
    display: inline-block;
    margin: 2rem 0% 3rem; /*same top and bottom margin as img.main, so when the img shrinks, top and bottom margins are still maintained*/
    padding: 0rem;
    width: 31.5%; /*fixed width to center the three elements (ul img ul)*/
    /*35(img.main)+2(img.main{margin})+31.5*2(entertainment && workspace _menu) == 100%*/
    vertical-align: middle;
}
#entertainment_menu {
    text-align: right;
}
#workspace_menu {
    text-align: left;
}
#entertainment_menu li, #workspace_menu li {
    display: block;
}
#main_menu li a, #main_menu li a:link, #main_menu li a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.33rem;
    font-size: 1rem;
    color: RGB(200, 200, 200);
    text-decoration: none;
    vertical-align: middle;
}
#main_menu li a:hover {
    color: RGB(255, 255,  255);
    background-color: HSL(160, 13%, 14.5%);
    box-shadow: 0.33rem 0.33rem 0.33rem RGBA(20, 20, 20, 0.75);
}
#main_menu li a:active {
    color: RGB(240, 240, 240);
    background-color: HSL(160, 13%, 12%);
    box-shadow: 0.13rem 0.13rem 0.13rem RGBA(20, 20, 20, 0.75);
}
#utilities_menu a {
    margin: 0rem 2rem;
}
#entertainment_menu a, #workspace_menu a {
    margin: 0.66rem 0%;
}
img.icon {
    vertical-align: middle;
    height: 1.33rem; 
}
#main_menu li span.name {
    vertical-align: middle;
}
#entertainment_menu .name {
    margin-right: 0.7rem;
}
#utilities_menu .name, #workspace_menu .name {
    margin-left: 0.7rem;
}
blockquote {
    margin: 0rem;
    padding: 0rem;
}
blockquote p {
    margin: 0rem;
    padding: 0rem;
    font-size: 0.80rem; 
    font-family: inherit;
    color: RGB(150, 150, 150); 
    text-align: center;
}
cite { 
    font-style: italic;
}
section#hexagon {
    display: block;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}
#hexagon aside {
    margin: 0rem;
    margin-left: 5%;
    padding: 0rem;
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
details summary {
    margin: 1rem 0% 1rem;
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: RGB(240, 255, 255);
    text-shadow: 0rem 0rem 0.66rem RGB(125, 255, 255), 0rem 0rem 2.66rem RGB(255, 255, 255); /*cyan neon effect*/
    text-align: left;
    outline: none;
}
details p {
    margin: 1rem 5%;
    padding: 0rem;
    font-size: 1rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: RGB(200, 200, 200);
    text-align: justify;
}
p a, p a:link, p a:visited, p a:hover {
    color: RGB(200, 100, 100);
    text-decoration: none;
}
p a:active {
    color: RGB(200, 100, 100);
    text-decoration: underline;
}
abbr[title] {
    text-decoration: none;
    border-bottom: 0.066rem dashed RGB(200, 200, 200);
}
kbd {
    font-size: 1rem;
    color: RGB(200, 100, 100);
}
table.leaderboard {
    margin: 1rem 5%;
    padding: 0rem;
    border: dashed 0.066rem RGB(255, 255, 255);
    border-collapse: separate;
    border-spacing: 0.66rem;
}
.leaderboard thead, .leaderboard tfoot {
    background-color: HSL(160, 13%, 9.5%);
}
.leaderboard col.player {
    background-color: HSL(160, 13%, 7%);
}
.leaderboard col.score {
    background-color: HSL(160, 13%, 14.5%);
}
.leaderboard thead th {
    margin: 0rem;
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: RGB(200, 200, 200); 
}
.leaderboard tfoot td{
    margin: 0rem;
    padding: 0.35rem;
    font-size: 0.80rem;
    color: RGB(150, 150, 150);
}
.leaderboard tbody td {
    margin: 0rem;
    padding: 0.35rem;
    font-size: 1rem;
    color: RGB(255, 255, 255);
}
section.game {
    display: inline-block;
    margin: 0rem 5%;
    padding: 0rem;
    width: 700px;
    max-width: 55%;
    background-color: transparent;
    vertical-align: middle;
}
.game a, .game a:link, .game a:visited {
    display: inline-block;
    margin: 0rem 2.5% 2rem;
    padding: 1.5rem 0%;
    width: 45%;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap; /*just in case*/
    overflow: hidden;
    /*
    If set to hidden, makes posible to 'vertical-align' the element as a whole, including its margins, instead of just the text inside it.
    
    This is necessary to achieve a "push button" effect. If set to visible, when we "push down" one of the elements, changing its top and bottom margin, we also move other element. This happens because the aligmnment it's set to be relative to the text inside the elements: if the text of one buttons moves, the other button will also move to remain aligned.
    
    But if we set it to "hidden", the alignment will be relative to the element as a whole, including margins, so moving the text of one won't affect the position of the other.
    */ 
    vertical-align: middle;
    /*
    Set to middle so the baseline moves up. Below baseline there is some space to shelter the descenders of a text, so if it is on the bottom (for example, using vertical-align: baseline), it adds extra space between lines.
    */
    color: RGB(200, 200, 200);
    text-decoration: none;
    background-color: HSL(160, 13%, 7%);
    box-shadow: 0rem 0.25rem 0.05rem RGB(225, 255, 255);
}
.game a:hover {
    color: RGB(255, 255, 255);
    text-decoration: none;
    background-color: HSL(160, 13%, 12%);
    text-shadow: 0rem 0rem 0.66rem RGB(125, 255, 255), 0rem 0rem 2.66rem RGB(255, 255, 255);
}
.game a:active { 
    margin: 0.3rem 3.4% 1.8rem;
    padding: 1.45rem 0%;
    width: 43.2%;
    font-size: 1.92rem;
    text-decoration: none;
    box-shadow: 0rem 0.1rem 0.05rem RGB(225, 255, 255); 
    text-shadow: 0rem 0rem 0.33rem RGB(125, 255, 255), 0rem 0rem 1.33rem RGB(255, 255, 255);
    /*
    a:link {margin: 0rem 2.5% 2rem;}
    a:link {padding: 1.5rem 0%;}
    
    To achieve a "push button" effect, we have to move and shrink the element
    
    MOVE:
    Decreasing the bottom-margin and increasing the top margin the same ammount (0.2rem) "moves" the element down. We also shrink the box-shadow ~0.2rem.
    
    SHRINK (4% smaller)
    We shrink top and bottom padding 0.05rem each, so we add 0.1rem to top-margin so the element's base stands still on its position.
    Width decreases from 45% to 43.2% (-1.8%) so we add 1.8/2=0.9% to left and right margin so the shrinked button doesn't alter the position of the other one.
    Font-size is also decreased: from 2rem to 1.92.
    */
}
iframe {
    display: block;
    margin: 0rem auto; /*auto because width is not 100%*/
    padding: 0rem;
    width: 99%; /*With width:100% I've seen the right border disapear on my computer, but perhaps it was a bug. It might be innecesary.*/
    height: 650px;
    border: dashed 0.066rem white;
    overflow: auto;
}
footer {
    margin: 3rem 0% 0rem;
    padding: 0rem;
}
footer p#author {
    margin: 0rem;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    color: RGB(150, 150, 150);
    background-color: HSL(160, 13%, 7%);
    text-align: right;
}
footer a.top, footer a.top:link, footer a.top:visited {
    display: block;
    margin: 0rem;
    padding: 0rem;
    font-size: 5rem;
    color: RGB(200, 200, 200);
    text-decoration: none;
    text-align: center;
    background-color: HSL(160, 13%, 8%);
}
footer a.top:hover {
    background-color: HSL(160, 13%, 12%);
}
footer a.top:active {
    background-color: HSL(160, 13%, 11%);
}




/*NEW CSS SHEET FROM HERE*/

img#drawing {
    display: block;
    margin: 3.33rem auto 3.33rem;
    width: 33%;
    border-radius: 33.33rem; 
    border: 1rem solid transparent;
    border-image-source: url(Images/border.png);
    border-image-width: 2rem; 
    border-image-outset: 0rem;
    border-image-repeat: space;
    border-image-slice: 15;
}
img#drawing:hover {
    opacity: 0.75;
}
img#drawing:active {
    opacity: 0.5;
}
img#border {
    width: 9%;
    display: block;
    margin: 3.33rem auto 3.33rem; 
}
section#exercise1 {
    background-image: url(Images/palm.png);
    background-position: bottom right;
    background-repeat: repeat-x;
    text-align: center;
}
div.polaroid {
    margin: 3.33rem auto 3.33rem;
    width: 33%;
    background-color: white;
    box-shadow: 0.66rem 0.66rem 0.66rem RGBA(0, 0, 0, 0.5);
    
}
img#skull {
    width: 92%;
    margin-top: 4%;
}
#skull:hover {
    -webkit-filter: blur(0.066rem) grayscale(70%) brightness(150%);
}
.polaroid p {
    padding: 5%;
    color: RGB(30,30,30);
    font-size: 1.20rem;
}



