html {
    font-size: 100%;
    padding: 0px;
}
body {
    padding: 0px;
    background-color: RGB(21, 27, 25);
    background-color: hsl(160, 13%, 9.5%); /*theme colour*/
    font-family: "Courier New", courier, monospace;
    color: RGB(200, 200, 200); /*por qué razón*/
}
h1 {
    margin: 1rem 4rem;
    font-size: 2rem;
    font-weight: normal;
    color: RGB(240, 240, 240);
    text-align: left;
}
hr {
    margin: 0px;
    border: 5pxpx solid RGB(240, 240, 240); /*white is too bright; h1/hr consonance*/
}
header {
    padding-top: 1px; /*if not set, blank space between header and top side of the display window. reason: ¿?*/
    background-color: hsl(160, 13%, 14.5%); /*5% lighter than body*/
}
nav {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
nav ul {
    display: block;
    font-size: 0px; /*set to avoid a wider separation between li's*/
    list-style: none;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block; /*set so I can give it a margin and a padding*/
    margin: 0px 5px 15px;
    padding: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: RGB(220, 220, 220);
    background-color: RGBA(21, 27, 25, 1);
    border-radius: 0px 0px 15px 15px;
    
    color: rgb(200, 200, 200);
    background-color: hsl(160, 13%, 7%);
    box-shadow: 0px 4px 1px RGB(225, 255, 255);
    
    width: 10rem; /*ancho fijado por que botoon*/
    max-width: 40%; /*IMPORTANTE: Buena solución, buscar como implementar en otros elementos*/
}
nav a:link, nav a:visited {
    /*RELLENAR*/
}
nav a:hover {
    background-color: RGBA(21, 27, 25, 0.50);
    box-shadow: 0px 2px 5px RGB(20, 20, 20);
    
    color: white;
    text-shadow: 0px 0px 2px RGB(0, 255, 255);
    text-shadow: 0px 0px 10px RGB(125, 255, 255), 0px 0px 40px RGB(255, 255, 255);
    background-color: hsl(160, 13%, 11%);
    box-shadow: 0px 4px 1px RGB(225, 255, 255);
}
nav a:active {
    background-color: RGBA(21, 27, 25, 0.75);
    
    
    color: white;
    text-shadow: 0px 0px 2px RGB(0, 255, 255);
    text-shadow: 0px 0px 5px RGB(125, 255, 255), 0px 0px 20px RGB(255, 255, 255);
    background-color: hsl(160, 13%, 11%);
    box-shadow: 0px 1px 1px RGB(225, 255, 255);
    font-size: 0.95rem;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
section#main_menu {
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    font-family: inherit;
    color: RGB(151, 157, 155);
    padding: 0px 0px 0px 10%;
    margin: 2em 0em 1em;
    text-align: left;
    background-color: RGB(31, 37, 35);
}
img#main_image {
    width: 50rem;
    max-width: 35%;
    vertical-align: middle;  
    padding: 0px;
    margin: 20px 1.25%;
}

h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: RGB(240, 255, 255);
    text-shadow: 0px 0px 10px RGB(125, 255, 255), 0px 0px 40px RGB(255, 255, 255); /*cyan neon effect*/
/*
    color: RGB(255, 240, 255);
    text-shadow: 0px 0px 10px RGB(255, 125, 255); 
*/
}
#main_menu ul {
    font-family: inherit;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#main_menu li {
    font-size: 1rem;
}
section#utilities_menu {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#utilities_menu li {
    display: inline-block;
    margin: 0px 30px;
    padding: 0px;
}
section#entertainment_menu, section#workspace_menu {
    vertical-align: middle;            	 
    display: inline-block;
    width: 30%;
    margin: 0px;
    padding: 0px;
}
#entertainment_menu {
    text-align: right;
}
#workspace_menu {
    text-align: left;
}
#entertainment_menu li, #workspace_menu li {
    margin: 10px 0px;
    padding: 0px;
}
#main_menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
#main_menu li a:link, p a:link, #main_menu li a:visited, p a:visited {
    color: inherit; /*body{color: RGB(200, 200, 200)}*/
}
#main_menu li a:hover, p a:hover {
    color: RGB(255, 255,  255);
    background-color: RGB(50, 50, 50);
    box-shadow: 5px 5px 5px RGB(20, 20, 20);
}
#main_menu li a:active, p a:active {
    color: RGB(150, 150, 150);
    box-shadow: 2px 2px 2px RGB(20, 20, 20);
}

p.quotation {
    font-size: 0.80rem; 
    font-family: inherit;
    color: RGB(150, 150, 150);
}
img.icon {
    vertical-align: middle;
    max-height: 20px; 
    max-width: 20px;
}
section#hexagon {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: inherit;
    margin: 0px 10%;
}
p a {
    text-decoration: underline;
}
table.leaderboard {
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
    border: groove 20px RGB(230, 80, 80);
    border-collapse: separate;
    border-spacing: 10px;
    padding: 0px;
    margin: 25px;
}
.leaderboard col.player {
    background-color: RGB(50, 50, 50);
}
.leaderboard col.score {
    background-color: RGB(70, 70, 70);
}
.leaderboard thead, .leaderboard tfoot {
    background-color: RGB(31, 37, 35);
}
.leaderboard thead th {
    font-size: 1.20rem;
    font-weight: normal;
    color: RGB(150, 150, 150);
    padding: 5px;
    margin: 0px;
}
.leaderboard tfoot td{
    font-size: 0.80rem;
    color: RGB(150, 150, 150);
    padding: 3px;
    margin: 0px;
}
.leaderboard tbody td {
    color: inherit;
    padding: 5px;
    margin: 0px;
}
div.game {
    display: inline-block;
    vertical-align: middle;
    border: groove 20px RGB(230, 80, 80);
    background-color: RGB(0, 0, 0);
    padding: 0px;
    margin: 50px;
}
.game a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.75em 0px;
    margin: 0x;
}
.game a:link,  .game a:visited {
    color: RGB(200, 200, 200);
    background-color: RGB(0, 0, 0);
}
.game a:hover {
    color: RGB(255, 255, 255);
    background-color: RGB(35, 35, 35);
}
.game a:active {
    background-color: RGB(25, 25, 25);
}
iframe {
    width: 700px;
    height: 650px;
    border: none;
    display: block;
}
footer {
    padding: 0px;
    margin: 0px;
}
footer a {
    text-align: center;
    display: block;
    font-size: 5rem;
    text-decoration: none;
    padding: 0% 5%;
    margin: 0px;
}
footer a:link, footer a:visited {
    color: inherit;
    background-color: RGB(23, 29, 27)
}
footer a:hover {
    font-weight: bolder;
    color: RGB(255, 255, 255);
    background-color: RGB(25, 32, 30)
}
footer a:active {
    color: RGB(150, 150, 150)
}
#hexagon aside {
    display: inline-block;
    max-width: 500px;
    vertical-align: middle;
}
#hexagon aside details summary {
    font-size: 1.25rem;
    font-family: inherit;
    color: RGB(150, 150, 150);
    font-weight: normal;
    margin: 2em 0px 1em;
    padding: 0px;
    text-align: left;
}
img#drawing {
    display: block;
    margin: 50px auto 50px;
    width: 33%;
    border-radius: 500px;
    border: 15px solid transparent;
    border-image-source: url(Images/border.png);
    border-image-width: 30px;
    border-image-outset: 0px;
    border-image-repeat: space;
    border-image-slice: 15; /*try 33.333333%*/
}
img#drawing:hover {
    opacity: 0.75;
}
img#drawing:active {
    opacity: 0.5;
}
img#border {
    width: 9%;
    display: block;
    margin: 50px auto 50px;
}
section#exercise1 {
    background-image: url(Images/palm.png);
    background-position: bottom right;
    background-repeat: repeat-x;
    text-align: center;
}
div.polaroid {
    margin: 50px auto 50px;
    width: 33%;
    background-color: white;
    box-shadow: 10px 10px 10px RGBA(0, 0, 0, 0.5);
    
}
img#skull {
    width: 92%;
    margin-top: 4%;
}
#skull:hover {
    -webkit-filter: blur(1px) grayscale(70%) brightness(150%);
}
.polaroid p {
    padding: 5%;
    color: RGB(30,30,30);
    font-size: 1.20em;
}



