html {
    font-size: 100%;
}
body {
    background-color: RGB(25, 25, 25);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
img#Header {
    display: inline-block;
    margin: 0rem auto;
    padding: 2rem 10%;
    width: 100%;
    box-sizing: border-box;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    vertical-align: middle;
}
ul {
    display: inline-block;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: text-top;
}
li {
    display: inline-block;
    width: 100%;
}
a, a:link, a:visited {
    display: block;
    margin: 0.25rem 2.5%;
    padding: 1rem;
    font-size: 1.25rem;
    color: RGB(255, 255, 255);
    text-decoration: none;
    background-color: RGB(50, 50, 50);
}
a:hover {
    color: RGB(20, 20, 20);
    background-color: RGB(255, 255, 255);
}
a:active {
    color: RGB(20, 20, 20);
    margin: 0.45rem 3%;
    padding: 0.8rem;
    font-size: 1rem;
}

@media only screen and (min-width: 640px) {
    img#Header {
        width: 65%;
    }
    ul {
        width: 35%;
    }
}
