body, div, header, nav, footer, aside, section, article, h1, h2, h3, h4, h5, h6 {margin: 0rem; padding: 0rem}
html {
    font-size: 100%;
}
body {
    background-color: RGB(25, 25, 25);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
header {
    display: inline-block;
    text-align: center;
    width: 100%;
}
div#Title_Box {
    display: inline-block;
    padding: 2rem 10%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
img#Title {
    width: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
h1 {
    font-size: 2rem;
    color: RGB(255, 255, 255);
    font-weight: lighter;
}
nav {
    display: inline-block;
    width: 100%;
}
nav ul {
    display: block;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    text-align: center;
}
nav li {
    display: inline-block;
    width: 100%;
}
nav a, nav a:link, nav a:visited {
    display: block;
    margin: 0.25rem 2.5%;
    padding: 1rem;
    font-size: 1.25rem;
    color: RGB(255, 255, 255);
    text-align: center;
    text-decoration: none;
    background-color: RGB(50, 50, 50);
}
nav a:hover {
    color: RGB(20, 20, 20);
    background-color: RGB(255, 255, 255);
}
nav a:active {
    /*decrease size an 8% (from 100% to 92%)*/
    margin: 0.38rem 6.5%; /*0.25 + (0.8 padding + 0.10/2 fontsize) = 0.38 // 2.5% + (8% / 2) = 6.5%*/
    padding: 0.92rem;
    font-size: 1.15rem;
}
section.standard {
    display: inline-block;
    padding: 2rem 5%;
    width: 100%;
    box-sizing: border-box;
}
section.standard h2 {
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    color: RGB(50, 50, 50);
    text-align: center;
    background-color: RGB(255, 255, 255);
}
section.standard p {
    margin: 0rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    color: RGB(255, 255, 255);
    text-align: justify;
    background-color: RGB(50, 50, 50);
}
img.group {
    display: inline-block;
    width: 100%;
    margin: 0rem;
    padding: 0rem 2.5% 0rem;
    box-sizing: border-box;
    -webkit-filter: grayscale(100%);
}
